<h1>Hello , voici l'utilisateurs <%= params["user_id"] %>  ! </h1>

<p>
Son prénom: <%= @user.first_name %> <br/>
Son nom de famille: <%= @user.last_name %> <br/>
Sa ville : <%= @user.city.name %> <br/>
Son âge : <%= @user.age %> <br/>
Son email : <%= @user.email %> <br/>
</p>